.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-marker {
  position: absolute;
  left: 0px;
  top: 0px;
}

.ant-drawer-title {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
}

.ant-drawer-header-title {
  display: block !important;
}

.ant-drawer-close {
  position: absolute !important;
  transform: translateY(-50%) !important;
  top: 50% !important;
  right: 1rem !important;
}

.ant-drawer-title {
  max-width: 300px !important;
}

.sp-autocomplete .ant-select-selection-search-input {
  color: black !important;
}

.sp-autocomplete .ant-select-selector {
  border: none !important;
}
